.main {
  color: white;
  text-align: center;
}

.title_area {
  margin-bottom: 3rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub_title_area {
  margin-bottom: 2rem;
}

.sub_title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.text {
  text-align: left;
  max-width: 400px;
  padding: 1rem 2rem;
  margin: 0 auto;
  border: 3px rgb(196, 196, 7) solid;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.out_link {
  font-weight: bold;
  color: #ff5188;
  cursor: pointer;
}

.contact {
  color: #333;
  text-align: left;
  max-width: 600px;
  background-color: #fff;
  margin: 0 auto;

  .form_table {
    width: 100%;
    margin-bottom: 20px;
  }

  .form_item,
  .form_body {
    padding: 20px;
    border: 1px solid #ccc;
  }

  .form_item {
    text-align: left;
    width: 30%;
    background-color: #eee;
  }

  .form_body {
    width: 70%;
  }

  label {
    font-size: 0.8rem;
    cursor: default;
  }

  input {
    width: 100%;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  textarea {
    width: 100%;
    height: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .badge {
    display: inline-block;
    background-color: #ff0000;
    color: #fff;
    padding: 4px 10px;
    border-radius: 15px;
    font-size: 0.6rem;
  }

  .error {
    color: #ff0000;
    font-size: 0.8rem;
  }

  .hidden {
    display: none;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.submit_button {
  border: 0;
  border-radius: 4px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 220px;
  padding: 10px 25px;
  color: #FFF;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: rgb(117,188,255);
  background: linear-gradient(270deg, rgba(117,188,255,1) 0%, rgba(62,159,252,1) 100%);
}
.submit_button:hover {
  background: rgb(149,202,252);
  background: linear-gradient(270deg, rgba(149,202,252,1) 0%, rgba(107,182,255,1) 100%);
}

@media (max-width: 768px) {
  .contact {
    .form_item {
      display: block;
      width: 100%;
    }
  
    .form_body {
      display: block;
      width: 100%;
    }
  }
}
