.main {
  color: white;
  text-align: center;
}

.title_area {
  margin-bottom: 3rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.sub_title_area {
  margin-bottom: 2rem;
}

.sub_title {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu_title {
  font-size: 1.2rem;
  font-weight: bold;
  color: bisque;
}

.text {
  text-align: left;
  max-width: 400px;
  padding: 1rem 2rem;
  margin: 0 auto;
  border: 3px rgb(196, 196, 7) solid;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
