.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: #fff;
  font-weight: bold;
}

.neontext {
  animation: flicker 1.5s infinite alternate;
  color: #fff;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px rgb(255, 0, 115),
      0 0 80px rgb(255, 0, 115),
      0 0 90px rgb(255, 0, 115),
      0 0 100px rgb(255, 0, 115),
      0 0 150px rgb(255, 0, 115);
  }
  20%, 24%, 55% {
      text-shadow: none;
  }
}

@media (max-width: 767px) {
  .title {
    margin-bottom: 40px;
  }
}
