/* 横幅を指定するための要素 */
.map_wrap {
  max-width: 400px; /* ここに横幅を指定 */
  margin: 0 auto;
}
 
/* Google Mapを囲う要素 */
.map {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 75%; /* 比率を4:3に固定 */
}
 
/* Google Mapのiframe */
.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map_text {
  color: #fff;
  margin-top: 4px;
}