body {
  background-color: #272727;
  line-height: 1.3;
}

.back_renga {
  background-image: url('/images/back_renga_blue_1.jpg');
  background-position: center top;
  background-repeat: repeat;
}

.word_turn {
  word-wrap: break-word;
  word-break: break-all;
}